*{
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -0-transition: all .5s ease;
}

body {
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
}
